.nav {
  margin-right: 25px;

  @include laptop {
    margin-right: 0;
  }

  &__list {
    display: flex;
    align-items: center;
    gap: 45px;

    @include laptop {
      flex-direction: column;
      gap: 20px;
    }
  }

  &-open {
    transform: translateX(0%);
    // right: 70px;
    opacity: 1;
    overflow: hidden;

    &-js{
      height: 100vh;
      overflow-y: hidden;
    }
  }

}